.pagination{
    margin-left: auto;
    margin-left: auto;
    width: max-content;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination__container{
    display: flex;
    gap: 5px;
}

.pagination__page,
.pagination__prev,
.pagination_next{
    cursor: pointer;
    width: 25px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__active{
    background-color: var(--color-red);
    color: white;
    border-radius: 5px;
}